<div class="container">
  <div class="row">
    <div class="col-sm">
      <button (click)="getData('todos')" class="btn btn-primary me-md-2" type="button">My todos</button>
    </div>
    <div class="col-sm">
      <button (click)="getData('photos')" class="btn btn-primary me-md-2" type="button">Photos</button>
    </div>
    <div class="col-sm">
      <button (click)="getData('users')" class="btn btn-primary me-md-2" type="button">Users</button>
    </div>
  </div>

    <dx-data-grid
    id="gridContainer"
    [dataSource]="datasource"
    [showRowLines]="true"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [visible]="true"
    [columns]="columns"
    keyExpr="id"
    (onCellClick)="cellClick($event)"
    [noDataText]="''"
    >
      <div *dxTemplate="let data of 'completed'" class="icons-column">
        <img *ngIf="data.value" src="assets/done.png" [width]="25" class="icon">
        <img *ngIf="!data.value" src="assets/fail.jpg" [width]="25" class="icon">
      </div>

      <div *dxTemplate="let data of 'url'" class="photo">
        <img [src]="data.value">
      </div>

      <div *dxTemplate="let data of 'thumbnailUrl'" class="photo">
        <img [src]="data.value">
      </div>

      <div *dxTemplate="let data of 'location'" class="location">
        <img [src]="data.value" [width]="25" class="icon">
      </div>

      <div *dxTemplate="let data of 'website'" class="website">
        <a [href]="'https://'+data.value">{{data.value}}</a>
      </div>

    </dx-data-grid>
</div>
