::ng-deep #gridContainer {
  top: 150px;
  left: 70px;
}

button {
  margin-bottom: 50px;
  margin-top: 20px;
}

img {
  height: 100px;
  display: block;
}

.icons-column {
  display: flex;
  justify-content: center;
}

.icon {
  height: 25px;
}

.location {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.website {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.photo {
  display: flex;
  justify-content: center;
}
